@model OuviCidadeV3.Models.Manifestacao

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Manifestacao</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Texto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Texto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataCriacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataCriacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataResposta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataResposta)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Resposta)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Resposta)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Protocolo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
