@model IEnumerable<OuviCidadeV3.Models.Manifestacao>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Texto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataCriacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataResposta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resposta)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Texto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataCriacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataResposta)
            </td>
            <td>
                <br />
                <a asp-action="Details" asp-controller="Resposta" asp-route-id="@item.Protocolo">Resposta</a>
            </td>

            @if(Program.Admin != null)
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Protocolo">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Protocolo">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Protocolo">Delete</a>
                    </td>
                }
                
        </tr>
}
    </tbody>
</table>
