@model IEnumerable<OuviCidadeV3.Models.Cidadao>


@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>


<div class="row">
    <div class="col-md-6">
        <form asp-action="Index" method="get" style="margin-bottom: 20px;">
            <div class="form-group">
                <label for="search">Procurar por Nome:</label>
                <input type="text" name="search" id="search" class="form-control" />
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </form>
    </div>

    <div class="col-md-6">
        <form asp-action="Index" method="get" style="margin-bottom: 20px;">
            <div class="form-group">
                <label for="search">Procurar por CPF:</label>
                <input type="text" name="search" id="search" class="form-control" />
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </form>
    </div>
</div>

<div class="col-md-6">
    <!-- Formulário para buscar todos os registros -->
    <form asp-action="Index" method="get" style="margin-bottom: 20px;">
        <button type="submit" class="btn btn-primary">Todos os Registros</button>
    </form>
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Endereco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataNascimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CPF)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Endereco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataNascimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CPF)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CPF">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CPF">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CPF">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
